<div class="start-container">
    <nav>
        <ul>
            <li><a class="nav-link" href="#">Home</a></li>
            <li><a class="nav-link" href="#">About</a></li>
            <li><a class="nav-link" href="#">Become a barbershop owner</a></li>
            <li><a class="nav-link" href="#">Help</a></li>
        </ul>
        <ul>
            <li><a class="nav-link" href="#">Sign In</a></li>
            <li class="nav-register-link"><a href="#">Register</a></li>
        </ul>
    </nav>
    <header class="start-content">
        <div class="start-img-container">
            <div class="circle"></div>
            <h1>Sign In to<br>Make your appointment.</h1>
            <br><br>
            <p>If you don't have an account</p>
            <p class="register-text">You can <a href="#">Register here!</a></p>
        </div>
        <div class="start-login-container">
            <app-login></app-login>
        </div>
    </header>
</div>